# Heroes Of Pymoli Data Analysis
Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).
Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%). 




# Summary Trends

#The number of unique players is only 576 heance we do have repeat purchases for 183 unique items

#Vast majority purchases are by males -approx (84%) followed by femalesapprox. (14%)

#The best represented age bracket in the data is 20-24 years, accounting for around 45% of the total purchases. This age group also spends most money on total purchases

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [182]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)

purchase_data = os.path.join('Resources', 'purchase_data.csv')

# Read Purchasing File and store into Pandas DataFrame. Check top 5 rows with head method
purchase_datadf = pd.read_csv(purchase_data)
purchase_datadf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [183]:
purchase_datadf.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [184]:
#Get number of players
#SN is the player serial numbe in the Players in Heroes of Pymoli. Find its length to get the unique number of players in that column 
uniqueSN = purchase_datadf['SN'].unique() 
unique_players = len(uniqueSN) 
unique_players
output_df = pd.DataFrame({"Unique Number of Players": [unique_players]})
                       
                      #"("The unique number of players is  " + str(unique_players) + ".")
output_df

   Unique Number of Players
0                       576

## Purchasing Analysis (Total)


### Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [185]:
# Basic calculations for number of unique items, average price, total purcahses etc

uniqueitems = purchase_datadf['Item ID'].nunique()
avgprice = (purchase_datadf['Price'].sum()/purchase_datadf['Price'].count()).round(2)
totalpurchases = purchase_datadf['Price'].count()
totalrevenue = purchase_datadf["Price"].sum()

total_analysis_df = pd.DataFrame({"No. of Unique Items": [uniqueitems], 
                              "Average Purchase Price": [avgprice],
                             "No. of Purchases": [totalpurchases],  "Total Revenue": [totalrevenue]}, 
                                 columns= ["No. of Unique Items", "Average Purchase Price", 
                                                                              "No. of Purchases", "Total Revenue"])
# Formatting of the data        
total_analysis_df.style.format({"Average Purchase Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

### Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [186]:
totalcount = purchase_datadf["SN"].nunique()
malecount = purchase_datadf[purchase_datadf["Gender"] == "Male"]["SN"].nunique()
femalecount = purchase_datadf[purchase_datadf["Gender"] == "Female"]["SN"].nunique()
othercount = totalcount - malecount - femalecount
maleperc = ((malecount/totalcount)*100)
femaleperc = ((femalecount/totalcount)*100)
otherperc = ((othercount/totalcount)*100)

gender_demo_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                                        "Total Count": [malecount, femalecount, othercount],"Percentage of Players":
                               [maleperc, femaleperc, otherperc],}, columns = 
                                        ["Gender", "Total Count","Percentage of Players" ])
                                        
gender_demo_final = gender_demo_df.set_index("Gender")
gender_demo_final.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

### Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

In [187]:
malepurchases = purchase_datadf[purchase_datadf["Gender"] == "Male"]["Price"].count()
femalepurchases = purchase_datadf[purchase_datadf["Gender"] == "Female"]["Price"].count()
otherpurchases = totalpurchases - malepurchases - femalepurchases

malepriceavg = purchase_datadf[purchase_datadf["Gender"] == "Male"]['Price'].mean()
femalepriceavg = purchase_datadf[purchase_datadf["Gender"] == "Female"]['Price'].mean()
otherpriceavg = purchase_datadf[purchase_datadf["Gender"] == "Other / Non-Disclosed"]['Price'].mean()

malepricetotal = purchase_datadf[purchase_datadf["Gender"] == "Male"]['Price'].sum()
femalepricetotal = purchase_datadf[purchase_datadf["Gender"] == "Female"]['Price'].sum()
otherpricetotal = purchase_datadf[purchase_datadf["Gender"] == "Other / Non-Disclosed"]['Price'].sum()

avgtotalmale = malepricetotal/malecount
avgtotalfemale = femalepricetotal/femalecount
avgtotalother = otherpricetotal/othercount

gender_purchase_df = pd.DataFrame(
{"Gender": ["Male", "Female", "Other / Non-Disclosed"],
 "Purchase Count by Gender": [malepurchases, femalepurchases, otherpurchases],
 "Average Purchase Price": [malepriceavg, femalepriceavg, otherpriceavg],
 "Total Purchase Value": [malepricetotal, femalepricetotal, otherpricetotal],
 "Average Purchase Total per Person by Gender": [avgtotalmale, avgtotalfemale, avgtotalother]},
columns = ["Gender", "Purchase Count by Gender", "Average Purchase Price", "Total Purchase Value", 
           "Average Purchase Total per Person by Gender"])
                                        
gender_purchase_final = gender_purchase_df.set_index("Gender")

gender_purchase_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", 
                                    "Average Purchase Total per Person by Gender": "${:.2f}"})

## Age Demographics


### Age Demographics

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group

In [188]:
tenyears = purchase_datadf[purchase_datadf["Age"] <10]
loteens = purchase_datadf[(purchase_datadf["Age"] >=10) & (purchase_datadf["Age"] <=14)]
hiteens = purchase_datadf[(purchase_datadf["Age"] >=15) & (purchase_datadf["Age"] <=19)]
lotwent = purchase_datadf[(purchase_datadf["Age"] >=20) & (purchase_datadf["Age"] <=24)]
hitwent = purchase_datadf[(purchase_datadf["Age"] >=25) & (purchase_datadf["Age"] <=29)]
lothirt = purchase_datadf[(purchase_datadf["Age"] >=30) & (purchase_datadf["Age"] <=34)]
hithirt = purchase_datadf[(purchase_datadf["Age"] >=35) & (purchase_datadf["Age"] <=39)]
loforty = purchase_datadf[(purchase_datadf["Age"] >=40) & (purchase_datadf["Age"] <=44)]
hiforty = purchase_datadf[(purchase_datadf["Age"] >=45) & (purchase_datadf["Age"] <=49)]

age_demo_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                            "Total Count": [tenyears["SN"].nunique(), loteens["SN"].nunique(), 
                        hiteens["SN"].nunique(), lotwent["SN"].nunique(), hitwent["SN"].nunique(), 
                        lothirt["SN"].nunique(), hithirt["SN"].nunique(), loforty["SN"].nunique(),
                        hiforty["SN"].nunique()],
                        "Percentage of Players": [(tenyears["SN"].nunique()/totalcount)*100, 
                        (loteens["SN"].nunique()/totalcount)*100, (hiteens["SN"].nunique()/totalcount)*100, 
                        (lotwent["SN"].nunique()/totalcount)*100, (hitwent["SN"].nunique()/totalcount)*100,
                        (lothirt["SN"].nunique()/totalcount)*100, (hithirt["SN"].nunique()/totalcount)*100,
                        (loforty["SN"].nunique()/totalcount)*100, (hiforty["SN"].nunique()/totalcount)*100],
                        
                       })

age_demo_final = age_demo_df.set_index("Age")
age_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

In [189]:
age_purchasing_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                              "Purchase Count": [tenyears["Price"].count(), loteens["Price"].count(), hiteens["Price"].count(),
                                                 lotwent["Price"].count(), hitwent["Price"].count(), lothirt["Price"].count(), 
                                                 hithirt["Price"].count(), loforty["Price"].count(), hiforty["Price"].count()],
                            "Average Purchase Price": [tenyears["Price"].mean(), loteens["Price"].mean(), 
                                hiteens["Price"].mean(), lotwent["Price"].mean(), hitwent["Price"].mean(),
                                lothirt["Price"].mean(), hithirt["Price"].mean(), loforty["Price"].mean(),
                                hiforty["Price"].mean()], 
                              "Total Purchase Value": [tenyears["Price"].sum(), loteens["Price"].sum(), hiteens["Price"].sum(), 
                               lotwent["Price"].sum(), hitwent["Price"].sum(), lothirt["Price"].sum(), 
                                hithirt["Price"].sum(), loforty["Price"].sum(), hiforty["Price"].sum()],
                              "Avg Total Purchase per person": [tenyears["Price"].sum()/tenyears['SN'].nunique(), 
                                loteens["Price"].sum()/loteens['SN'].nunique(), hiteens["Price"].sum()/hiteens['SN'].nunique(), 
                                lotwent["Price"].sum()/lotwent['SN'].nunique(), hitwent["Price"].sum()/hitwent['SN'].nunique(), 
                                lothirt["Price"].sum()/lothirt['SN'].nunique(), hithirt["Price"].sum()/hithirt['SN'].nunique(), 
                                loforty["Price"].sum()/loforty['SN'].nunique(), hiforty["Price"].sum()/hiforty['SN'].nunique()]}, 
                             columns = 
                            ["Age", "Purchase Count", "Average Purchase Price", 
                             "Total Purchase Value", "Avg Total Purchase per person"])

agewisepurchase_final = age_purchasing_df.set_index("Age")

agewisepurchase_final.style.format({"Average Purchase Price": "${:.2f}", 
                                   "Total Purchase Value": "${:.2f}",
                                    "Avg Total Purchase per person": "${:.2f}"}, 
                                )

## Top Spenders

### Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [190]:
sn_total_purchase = purchase_datadf.groupby('SN')['Price'].sum().to_frame()
sn_purchase_count = purchase_datadf.groupby('SN')['Price'].count().to_frame()
sn_purchase_avg = purchase_datadf.groupby('SN')['Price'].mean().to_frame()

sn_total_purchase.columns=["Total Purchase Value"]
join_one = sn_total_purchase.join(sn_purchase_count, how="left")
join_one.columns=["Total Purchase Value", "Purchase Count"]

join_two = join_one.join(sn_purchase_avg, how="inner")
join_two.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

top_spenders_df = join_two[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame
### Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [194]:
# Makee new data frame of items related information 
items = purchase_datadf[["Item ID", "Item Name", "Price"]]

# Count the number of times an item has been purchased 
purchase_count_item = items.groupby(["Item ID","Item Name"])["Price"].count()

# Calcualte the purchase value per item 
purchase_value = (items.groupby(["Item ID","Item Name"])["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
populardf = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
populardf.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [195]:
#Display the Item Table (Sorted by Total Purchase Value)

# Take the most_popular items data frame and change the sorting to find highest total purchase value
populardf = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
populardf.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})